{% extends 'base.html' %}

{% block title %}Profile{% endblock %}
{% block menu %}Profile - {{ user.username }}{% endblock %}

{% block body %}
<div class="content">
  <div class="row">
    <div class="col-md-6">
        <div class="card card-profile">
          <div class="card-avatar border-white">
            <a href="{{ user.gravatar }}">
              <img src="{{ user.gravatar }}">
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ user.get_full_name }}</h4>
            <h6 class="card-category">Developer</h6>
            <p class="card-description">
              One of the co-founders. Joe drives the technical strategy of the platform, customer support and brand.
            </p>
            <div class="card-footer text-center">
              <hr>
              <div class="button-container">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-6 ml-auto">
                    <h5>Member Since</h5>
                    <p><small>{{ user.date_joined }}</small></p>
                  </div>
                  <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                    <h5>Last Active</h5>
                    <p><small>{{ user.last_login }}</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end card -->
      </div>

    <div class="col-md-6">
      {% include "_messages.html" %}
      <div class="card">
        <div class="card-header">
          <h4 class="card-title text-center">Edit Profile - {{ user.username }}</h4>
        </div>
        <div class="card-body">
          <form class="form-horizontal" method="post">
            {% csrf_token %}
            {% include "_form.html" %}
            <hr>
            <a class="btn btn-warning btn-move-left float-left" href="javascript:history.back()">
              <i class="fa fa-chevron-left"></i>Back
            </a>
            <button class="btn btn-info btn-move-right float-right" type="submit">Save
              <i class="fa fa-chevron-right"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


