{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block body %}

<div class="content">
  <div class="container">
    <div class="col-lg-5 col-md-4 ml-auto mr-auto">
      <form method='POST' name="login_user_form">
        <div class="card card-login">
          {% include "_messages.html" %}
          <div class="card-header text-center">
            <a href="{% url 'index' %}"><img class="img-logo" id="img_logo" src="/static/img/beer-small.png"></a>
            <h4 class="card-title">Sign up for OweYouBeer</h4>
          </div>
          <div class="card-body ">
            {% csrf_token %}
            {% include '_macros.html' %}
          </div>
          <div class="card-footer">
            <div class="form-group">
              <input class="btn btn-primary btn-round float-right" type="submit" value="Register">
              <a class="btn btn-warning btn-round float-left" href="javascript:history.back()">Cancel</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container footer text-center">
  <h5 class="brandlogo">YAFI</h5>
  <p class="brand"><a href="{% url 'account:login' %}" class="brand-text">Already have an account? Login here</a></p>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
