{% for field in form %}
<div class="row">
  <label class="col-md-3 col-form-label">{{ field.label }}</label>
  <div class="col-md-9">
    {% if field.errors %}
    <div class="form-group has-danger text-danger">
    {% else %}
    <div class="form-group">
    {% endif %}
      {{ field }}
      {{ field.errors }}
      {% if field.help_text %}
      <p class="text-muted">
        <i class="fa fa-question-circle"></i>  {{ field.help_text }}
      </p>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
