{% extends 'base.html' %}
{% block title %}Overview{% endblock %}

{% block body %}
    <div class="row">
      <div class="col-md-3">
          <div class="card card-pricing">
            <div class="card-body">
              <a href="#" class="card-icon">
                <span class="icon-simple"><i class="fa fa-beer btn-twitter"></i></span>
              </a>
              <h3 class="card-title">Beers</h3>
              <h4 class="card-description">{{ beers.total }}</h4>
            </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card card-pricing">
            <div class="card-body">
              <a href="{% url 'ui:teams' %}" class="card-icon">
                <span class="icon-simple"><i class="fa fa-users btn-google"></i></span>
              </a>
              <h3 class="card-title">Teams</h3>
              <h4 class="card-description">{{ teams }}</h4>
            </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card card-pricing">
            <div class="card-body">
              <div class="card-icon">
                <span class="icon-simple"><i class="fa fa-users btn-reddit"></i></span>
              </div>
              <h3 class="card-title">Teams</h3>
              <h4 class="card-description">
                .
              </h4>
            </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card card-pricing">
            <div class="card-body">
              <div class="card-icon">
                <span class="icon-simple"><i class="fa fa-users btn-facebook"></i></span>
              </div>
              <h3 class="card-title">Teams</h3>
              <h4 class="card-description">
                .
              </h4>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Recent Added Beers</h4>
          </div>
          <div class="card-body">
            <table class="table table-hover">
              <thead class="text-warning">
                <tr>
                  <th>Added By</th>
                  <th>Added At</th>
                  <th>Count</th>
                </tr>
              </thead>
              <tbody>
                {% for beer in recentBeers %}
                <tr>
                  <td>{{ beer.added_by.username }}</a></td>
                  <td><span class="badge badge-pill badge-primary">{{ beer.added_at|date }}</span></td>
                  <td>{{ beer }}</td>
                </tr>
                {% empty %}
                <p>Nothing!!</p>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card ">
          <div class="card-header ">
            <h5 class="card-title">Hosts per environment</h5>
          </div>
          <div class="card-body ">
            <canvas id="chartEmail" class="ct-chart ct-perfect-fourth"></canvas>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-calendar"></i> Number of emails sent
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}