{% extends 'base.html' %}
{% block title %}Set it up!{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-8 mr-auto ml-auto">
    <div class="card card-plain ">
      <div class="card-header text-center bg-info">
        <div class="icon text-center">
          <a href="{% url 'index' %}"><i class="nc-icon nc-settings text-warning"></i></a>
        </div>
        <h3 class="card-title">Set up</h3>
      </div>
      <div class="card-body">
        {% csrf_token %}
        {% include "_form.html" %}
      </div>
      <div class="card-footer ">
        <div class="form-group">
          <input class="btn btn-primary btn-round float-right" type="submit" value="Add">
          <a class="btn btn-warning btn-round float-left" href="javascript:history.back()">Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}